.start-screen {
    position: relative;
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.start-menu__wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 20px;
}


.warning__wrapper {
    display: flex;
    justify-content: space-between;

    img {
        width: 150px;
        object-fit: contain;
        margin-inline: 20px;
    }
}


.menu__wrapper {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    // align-items: center;

    h1{
        font-size: 5rem;
        color: white;
        text-shadow: 2px 1px black
    }

    img {
        width: 50px;
        object-fit: contain;
        padding-inline: 10px;
    }
}

.menu-title{
    display: flex;
    align-items: center;
    height: 5rem;
    margin-bottom: 20px;
}


.menu-button{
    display: flex;
    justify-content: center;

    button{
        font-family: inherit;
        font-size: 3rem;
        color: hsla(0, 0%, 100%, 0.8);
        min-width: 30vw;
        padding: 5px;
        border: none;
        border-radius: 5px;
        background-image: linear-gradient(20deg, red , rgb(221, 255, 0));
        &:hover{
            color: hsla(0, 0%, 100%, 1);
            background-image: linear-gradient(200deg, red , rgb(221, 255, 0));
            cursor: pointer;
        }
    }
}