<div class="game-field">
    <div class="card-stack">
        <img [ngStyle]="{'right.px': i}" *ngFor="let c of [1,2,3,4,5]; let i = index"
            src="./../../assets/img/cards/card_cover.png" alt="">
        <img (click)="takeCard()" class="top-card" style="right: 15px;"
            src="./../../assets/img/cards/card_cover.png" alt="">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;"
            src="./../../assets/img/cards/ace_1.png" alt="">
    </div>

</div>